{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-7 jumbotron container">
    <div class="card card-body">
        <center>
            <h1 style="color: brown; text-align: center;">For Student</h1>
        </center>
        <form method="post" enctype="multipart/form-data">
            <h1 style="color: brown; text-align: center;">Image Uploader</h1><br>
            <hr>
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">TITLE: </span>
                <input type="text" name="title" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">IMAGES: </label>
                <input class="form-control" type="file" id="formFile" name="image">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">CREATED BY: </span>
                <input type="text" value="{{request.user}}" name="created_by" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <input type="submit" class="btn btn-outline-success col-6" value="UPLOAD"></input>
        </form>
    </div>
</div>
    <center>
        <span>
            {% if img_obj %}
            <h3>Succesfully uploaded : {{img_obj.title}}</h3>
            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
            {% endif %}
        </span>
    </center>
    {% endblock %}