{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-7 jumbotron container">
    <div class="card card-body">
        <center>
            <h1 style="color: brown; text-align: center;">For Student</h1>
        </center>
        <form method="post" enctype="multipart/form-data">
            <h1 style="color: brown; text-align: center;">Image Uploader</h1><br>
            <hr>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-success col-6">Upload</button>
        </form>
    </div>
</div>
    <center>
        <span>
            {% if img_obj %}
            <h3>Succesfully uploaded : {{img_obj.title}}</h3>
            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
            {% endif %}
        </span>
    </center>
    {% endblock %}